@using Microsoft.AspNetCore.Components.Routing

@if (ChildContent != null)
{
    <li class="nav-item @CssString" disabled="@(!IsEnabled)">
        @ChildContent
    </li>
}
else
{
    if (IsEnabled)
    {
        <li class="nav-item @CssString">
            <NavLink href="@MenuItem.Link" Match="@MenuItem.Match">
                @MenuItem.Title
            </NavLink>
        </li>
    }
    else
    {
        <li class="nav-item @CssString" disabled>
            @MenuItem.Title
        </li>
    }
}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool IsEnabled { get; set; } = true;
    [Parameter] public bool IsVisible { get; set; } = true;
    [Parameter] public string Css { get; set; } = string.Empty;
    [Parameter] public MenuItem MenuItem { get; set; }

    protected string CssString
    {
        get
        {
            var cssString = string.Empty;

            cssString += $"{Css}";
            cssString += !IsEnabled ? " disabled" : "";
            cssString += !IsVisible ? " hidden" : "";

            return cssString.Trim();
        }
    }
} 